body header,
body div {
  border: black 1px solid;
  padding: 20px auto;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: bisque;
}

div {
  background-color: aquamarine;
}

ul {
  margin: 0 auto;
}

li button {
  border-radius: 15px;
  padding: 5px;
  margin: 10px auto;
}
.correct-text {
}

.wrong-text {
}
